.blogPostContainer{
    width:70%;
}
.blogHeader{
    text-align: center;
}
.postTitle{
    letter-spacing:0.5px;
    text-transform: capitalize;
    font-size: 30 px;
    margin: 0;
}
.postImageContainer{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
.postImageContainer img{
    max-width: 100%;
    max-height: 100%;
    padding: 20px 0;
    
}
.postedBy{
    font-size: 12px;
    color:lightslategrey;
}