.header{
    display: flex;
    justify-content:space-between;
    margin: 5px 0;
}


.headerMenu a{
    display: inline-block;
    margin:0 15px;
    text-decoration: none;
    color: darkslateblue;
    font-size: 20x;
    letter-spacing: 1.2px;
}
.headerMenu a:hover{
    color: aqua;
}