.header{
    display: flex;
    justify-content:space-between;
    margin: 5px 0;
}


.headerMenu a{
    display: inline-block;
    margin:0 15px;
    text-decoration: none;
    color: darkslateblue;
    font-size: 20x;
    letter-spacing: 1.2px;
}
.headerMenu a:hover{
    color: aqua;
}
.socialMediaIconscon{
    width: 3%;
    display:flex;
    justify-content:space-between;
}
.socialMediaIconscon img{
    max-width: 45%;
    max-height: 45%;
    margin:3px 0;
    cursor: pointer;
}